/** @format */

@keyframes animate {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes breathe {
  from {
    transform: translateY(-0.5em);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes anim-bg {
  0% {
    background-color: darkmagenta;
  }
  40% {
    background-color: rebeccapurple;
  }
  70% {
    background-color: forestgreen;
  }
  100% {
    background-color: black;
  }
}
.animate {
  animation: animate 3s ease-in;
}
.breathe {
  animation: breathe 3s ease-in alternate;
}
.anim-bg {
  background-image: linear-gradient(to top, white, grey);
}
